/* .general {
  background-color: rgb(207, 25, 25);
  max-width: 250px;
  margin: auto;
  
} */

#loadDiv {

  position: absolute;
  left: 30%;
  top: 52%;
}

#loader {
  width: 128px;
  height: 128px;
}




.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  padding: 8px 0;
  background: #fafafa;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, .1);
  border-top: 1px solid #dee2e6;

}


#footerChat {

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  padding: 8px 0;
  background: #a7a4a4;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, .1);
  border-top: 1px solid #dee2e6;


}

#btnlogOut {
  color: red;
}

#restaurantList {

  padding: 5px;

}

.homeIntro {
  text-align: center;

}

.homeIntro h1 {

  margin-top: 20vh;

}

#selectCity {

  margin-top: 10vh;
}

.card {
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);

}

.card .img-thumbnail {
  border: none
}


.name {
  font-weight: bold;
  font-size: 1.17em;
}

.cuisine {
  display: inline-block;
  line-height: 120%;
  font-size: .75em;
  color: #999999
}

.address {

  display: inline-block;
  line-height: 110%;

  font-size: .9em;

}

.price {

  font-style: italic;
  font-size: .8em;
}

.person ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  margin-top: 20px;
  display: inline-block;

}

li {
  float: left;
  border-right: 1px solid #ffffff;
}

li:last-child {
  border-right: none
}

a {
  color: #007bff !important;
  text-decoration: none;
}

li a {
  border-radius: 15px;
  background: white;
  border: 1px solid #999;
  margin: 0 .3em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
  display: inline-block;
  padding: .5em 1em;
}

li a:hover {
  background-color: darkgrey;
}

.person {
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);

}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

/* Media query properties */

/* Iphone 5/se portrait w320 h568*/
@media only screen and (max-width: 320px) {

  body {


      line-height: 1.2;
  }

  .card .img-thumbnail {
      padding: .25rem;
      background-color: #fff;
      border-radius: .25rem;
      max-width: 61%;
      height: auto;
      object-fit: cover;
  }

  .card {

      width: 386px;
  }

  .orpImg .img-thumbnail {
      padding: .25rem;
      background-color: #fff;
      border-radius: .25rem;
      border: none;
      max-width: 61%;
      height: auto;

  }

  #map {
      height: 93vh;
      width: 99vw;
      display: flex;
      justify-content: center;
  }
}

/* LG G5 portrait W360 H640 */
@media only screen and (min-width: 360px) {

  body {
      background-color: rgb(49, 190, 124);


  }

  .card {

      width: 323px;
  }

  #map {
      height: 91vh;
      width: 98vw;
      display: flex;
      justify-content: center;
  }

}


/* Iphone 5/se landscape w568 h320 */
@media only screen and (min-width: 568px) {

  body {
      background-color: red;

      line-height: 1.2;
  }

  #selectCity {

      margin-top: 0vh;

  }

  h2 {
      margin-bottom: -0.5rem !important;
  }

  .card .img-thumbnail {
      padding: .25rem;
      background-color: #fff;
      border-radius: .25rem;
      max-width: 61%;
      height: auto;
      object-fit: cover;
  }

  .card {

      width: 386px;
  }

  .orpImg .img-thumbnail {
      padding: .25rem;
      background-color: #fff;
      border-radius: .25rem;
      border: none;
      max-width: 61%;
      height: auto;

  }

  #map {
      height: 82vh;
      width: 100vw;
      display: flex;
      justify-content: center;
  }
}

/* LG G5 landscape W640 H360 */
@media only screen and (min-width: 640px) {

  body {
      background-color: rgb(49, 190, 124);


  }

  .card {

      width: 386px;
  }

  #map {
      height: 89vh;
      width: 98vw;
      display: flex;
      justify-content: center;
  }

}


/* Ipad portrait w768 h1024 */
@media only screen and (min-width: 768px) {



  #map {
      height: 94vh;
      width: 99vw;
      display: flex;
      justify-content: center;
  }

  .card {

      min-width: 530px !important;
  }

}

#footerChat {

  max-width: 100%;

}


/* Ipad landscape w1024 h768 */
@media only screen and (min-width: 1024px) {

  body {
      background-color: yellow;


  }

  .card {

      min-width: 900px !important;
  }

  #map {
      height: 92vh;
      width: 99vw;
      display: flex;
      justify-content: center;
  }

  #footerChat {

      max-width: 100%;

  }

}






/* Icons Style */

.backBtn .fa {

  font-size: 30px;
}

/* CHAT STYLE */

.container {
  max-width: 1170px;
  margin: auto;
}

img {
  max-width: 127%;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.top_spac {
  margin: 20px 0 0;
}


.recent_heading {
  float: left;
  width: 40%;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
  padding:
}

.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}

.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}

.chat_ib h5 span {
  font-size: 13px;
  float: right;
}

.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto
}

.chat_img {
  float: left;
  width: 11%;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.inbox_chat {
  height: 550px;
  overflow-y: scroll;
}

.active_chat {
  background: #ebebeb;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received_withd_msg {
  width: 57%;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.sent_msg {
  float: right;
  width: 46%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.messaging {
  padding: 0 0 50px 0;
}

.msg_history {
  height: 162px;
  overflow-y: auto;
}
