

.general {
  background-color: rgb(255, 255, 255);
  max-width: 250px;
  margin: auto;
  
}

#restaurantList {
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}


.name {
  background-color: grey;
  font-size: 1.17em;
}

.cuisine {
  background-color: cadetblue;
  font-size: .75em;
  
}

.address {

  background-color: lightgray;
  font-size: .75em

}

